# Misc
.DS_Store

# Dotenv
.env

# VS Code
.vscode/

# Yarn
.yarn/
node_modules/

# Astro
.astro/
dist/

# Python
__pycache__/
.venv/

# Cloudflare
.wrangler/
.dev.vars

# Google API
credentials.json
token.json

# Downloads
downloads/
data/
