# Misc
.DS_Store

# Dotenv
.env

# VS Code
.vscode/

# Yarn
.yarn/
node_modules/

# Astro
.astro/
dist/

# Python
__pycache__/

# Cloudflare
.wrangler/
wrangler.toml
worker-configuration.d.ts

# Google API
credentials.json
token.json

# Downloads
downloads/
