---
import { isLoggedIn, redirectToLogin } from "@/utils";
import Base from "@/layouts/Base.astro";

if (!(await isLoggedIn(Astro))) {
  return redirectToLogin(Astro);
}
---

<Base>
  <div class="text-center text-lg">
    <p>Not found</p>
  </div>
</Base>
