---
import { isLoggedIn, redirectToLogin } from "@/utils";
import Base from "@/layouts/Base.astro";

if (!(await isLoggedIn(Astro))) {
  return redirectToLogin(Astro);
}
---

<Base>
  <p class="self-center">Page not found.</p>
</Base>
