---
import { isLoggedIn, loginInfo } from "@/utils";
import Base from "@/layouts/Base.astro";

if (!isLoggedIn(Astro)) {
  return Astro.redirect("/login");
}
---

<Base>
  <pre>
    {JSON.stringify(loginInfo(Astro))}
  </pre>
  <div class="text-center text-lg">
    <p>You're logged in!</p>
    <p>Website under construction.</p>
  </div>
</Base>
