---
import Base from "@/layouts/Base.astro";
import { siteName } from "@/constants";
---

<Base>
  <header>
    <h1 class="mb-4 text-4xl font-bold">{siteName}</h1>
  </header>
  <main>
    <p>Website under construction.</p>
  </main>
</Base>
