---
import { logIn, isLoggedIn } from "@/utils/login";
import { Base } from "@/layouts";
import { ObfuscatedEmail } from "@/components";
import { studio } from "@/utils/studio";

const postRequest = Astro.request.method === "POST";
if (postRequest) {
  try {
    const data = await Astro.request.formData();
    const password = data.get("password");
    if (typeof password === "string") {
      await logIn(Astro, password);
    }
  } catch {}
}

if (await isLoggedIn(Astro)) {
  const destParam = Astro.url.searchParams.get("dest");
  const dest = destParam ? decodeURIComponent(destParam) : "";
  return Astro.redirect(`/${dest}`);
}
---

<Base title="Login">
  <form
    method="POST"
    class="mx-auto mt-3 flex w-full max-w-4xl flex-col gap-5 bg-white/40 px-10 py-8"
  >
    <p class="text-center">
      If you do not have the password, please contact
      <ObfuscatedEmail email={studio.email} />.
    </p>
    <div class="flex w-full max-w-md flex-col gap-5 self-center">
      <div class="flex flex-col gap-1">
        <label for="password" class="sr-only">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          class="text-clay rounded bg-white/75 px-3 py-1.5 transition-colors outline-none focus:bg-white/90"
          size={10}
        />
        {postRequest && <p class="mt-1 text-red-700">Incorrect password</p>}
      </div>
      <button
        class="bg-clay-button text-clay-button-text hover:bg-clay-button-hover rounded py-1.5 transition-colors"
      >
        Log in
      </button>
    </div>
  </form>
</Base>
