---
import Base from "@/layouts/Base.astro";
const { env } = Astro.locals.runtime;
const { GLAZE_GALLERY_STUDIO_EMAIL, GLAZE_GALLERY_PASSWORD } = env;

let status: string | null = null;
if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const password = data.get("password");
    status = password === GLAZE_GALLERY_PASSWORD ? "correct" : "incorrect";
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Base title="Login">
  <div class="flex flex-col gap-5">
    <p class="self-center">
      If you do not have the password, please contact
      <a href={`mailto:${GLAZE_GALLERY_STUDIO_EMAIL}`} target="_blank">
        {GLAZE_GALLERY_STUDIO_EMAIL}</a
      >.
    </p>
    <div class="flex items-center justify-center">
      <form
        method="POST"
        class="flex max-w-md grow flex-col gap-5 rounded-lg bg-stone-200 p-5"
      >
        <div class="flex flex-col gap-1">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="rounded-lg px-3 py-1.5"
            size={10}
          />
        </div>
        {status && <p>Password was {status}</p>}
        <button class="rounded-lg bg-stone-300 py-1.5 hover:brightness-90">
          Log in
        </button>
      </form>
    </div>
  </div>
</Base>
