---
import { logIn, isLoggedIn } from "@/utils/login";
import Base from "@/layouts/Base.astro";

const { GLAZE_GALLERY_STUDIO_EMAIL } = Astro.locals.runtime.env;

const postRequest = Astro.request.method === "POST";
if (postRequest) {
  try {
    const data = await Astro.request.formData();
    const password = data.get("password");
    if (typeof password === "string") {
      await logIn(Astro, password);
    }
  } catch {}
}

if (await isLoggedIn(Astro)) {
  const destParam = Astro.url.searchParams.get("dest");
  const dest = destParam ? decodeURIComponent(destParam) : "";
  return Astro.redirect(`/${dest}`);
}
---

<Base title="Login">
  <p class="self-center">
    If you do not have the password, please contact
    <a href={`mailto:${GLAZE_GALLERY_STUDIO_EMAIL}`} target="_blank">
      {GLAZE_GALLERY_STUDIO_EMAIL}</a
    >.
  </p>
  <div class="flex justify-center">
    <form
      method="POST"
      class="flex max-w-md grow flex-col gap-5 rounded-lg bg-stone-200 p-5"
    >
      <div class="flex flex-col gap-1">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="rounded-lg px-3 py-1.5"
          size={10}
        />
        {postRequest && <p class="mt-1 text-red-600">Incorrect password</p>}
      </div>
      <button class="rounded-lg bg-stone-300 py-1.5 hover:brightness-90"> Log in </button>
    </form>
  </div>
</Base>
