---
import { siteName } from "@/constants";
import { studio } from "@/utils/studio";
---

<header class="flex flex-col items-center justify-center gap-2 p-5 md:flex-row md:gap-4">
  <div class="flex-1">
    <a href={studio.url} class="inline-block">
      <img src={studio.logo.src} alt={studio.name} class="h-16 w-auto md:h-20" />
    </a>
  </div>
  <a href="/">
    <h1 class="text-heading text-center text-5xl tracking-[0.04rem]">{siteName}</h1>
  </a>
  <div class="flex-1"></div>
</header>
