---
import { faTriangleExclamation } from "@fortawesome/free-solid-svg-icons";
import Icon from "./Icon.astro";
---

<span class="inline-flex items-center"
  >(<span
    role="img"
    title="May blister, jump, or crawl"
    class="inline-flex h-4 w-4 items-center fill-yellow-600"
  >
    <Icon icon={faTriangleExclamation} />
  </span>)</span
>
