---
import { faTriangleExclamation } from "@fortawesome/free-solid-svg-icons";
import Icon from "./Icon.astro";
---

<span
  role="img"
  title="May blister, jump, or crawl"
  class="flex h-full items-center fill-yellow-600"
>
  <Icon icon={faTriangleExclamation} />
</span>
