---
import { faRepeat } from "@fortawesome/free-solid-svg-icons";
import Icon from "./Icon.astro";
---

<span role="img" title="Flip" class="inline-flex h-6 items-center">
  <Icon icon={faRepeat} />
</span>
