---
import { faDroplet } from "@fortawesome/free-solid-svg-icons";
import Icon from "./Icon.astro";
---

<span role="img" title="Runny" class="inline-flex h-4 items-center fill-blue-900">
  <Icon icon={faDroplet} />
</span>
